
body {font: 20px arial, sans-serif}

.navbar {background-color: rgb(143, 235, 113);}

.escola {background-color: #F8E6E0; color: rgb(8, 8, 8)}

.margin {padding-bottom: 40px}

.faculdade {background-color: #A9F5F2}

.bg-footer {background-color: black; color: white}